@model IEnumerable<SporEtkinlikleriYonetimSistemi.Models.UserViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.MaskedPassword</td> <!-- Maskelenmiþ þifre -->
                <td>
                    <a asp-action="Edit" asp-route-id="@user.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@user.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@user.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
