@model IEnumerable<UpcomingModel>

<h1>Gelecek Etkinlikler</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Etkinlik Başlığı</th>
            <th>Başlama Tarihi</th>
            <th>Bitiş Tarihi</th>
            <th>Etkinlik Sahibi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventItem in Model)
        {
            <tr>
                <td>@eventItem.EventID</td>
                <td>@eventItem.eventtitle</td>
                <td>@eventItem.StartDate</td>
                <td>@eventItem.EndDate</td>
                <td>@eventItem.organizername</td>
            </tr>
        }
    </tbody>
</table>
